<AuthorizeView>
    <Authorized>
        <form  method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">   <span class="oi oi-account-logout fs-5" style="color: white;"></span> </button>
        </form>
       
    </Authorized>
   
</AuthorizeView>
